.textDisplay {
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    padding-top: 25px;
}

.title {
    font-size: 0.8rem;
    font-weight: normal;
    color: #333;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
}

.body {
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #444;
    font-style: normal;
    font-weight: normal;
    word-wrap: break-word;      
    white-space: normal;      
    overflow-wrap: break-word; 
  
}

.caret {
    display: inline-block;
    width: 2px;
    height: 1.2em;
    background-color: black;
    margin-left: 2px;
    animation: blink 1s steps(1) infinite;
    vertical-align: bottom;
  }
  

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }